<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.fourth.dao.OaBranchAihMapper">
  <resultMap id="BaseResultMap" type="com.oa.fourth.model.OaBranchAih">
    <result column="bname" jdbcType="VARCHAR" property="bname" />
    <result column="bcodeZN" jdbcType="VARCHAR" property="bcodezn" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="bclassify" jdbcType="VARCHAR" property="bclassify" />
    <result column="pj_id" jdbcType="INTEGER" property="pjId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="rent_area" jdbcType="REAL" property="rentArea" />
    <result column="project_stat" jdbcType="VARCHAR" property="projectStat" />
    <result column="branch_name" jdbcType="VARCHAR" property="branchName" />
    <result column="subordinate_area" jdbcType="VARCHAR" property="subordinateArea" />
    <result column="license_category" jdbcType="VARCHAR" property="licenseCategory" />
    <result column="principal" jdbcType="VARCHAR" property="principal" />
    <result column="principal_tel" jdbcType="VARCHAR" property="principalTel" />
    <result column="admin_people" jdbcType="VARCHAR" property="adminPeople" />
    <result column="admin_people_tel" jdbcType="VARCHAR" property="adminPeopleTel" />
    <result column="area_admin" jdbcType="VARCHAR" property="areaAdmin" />
    <result column="area_admin_tel" jdbcType="VARCHAR" property="areaAdminTel" />
    <result column="head_admin" jdbcType="VARCHAR" property="headAdmin" />
    <result column="head_admin_tel" jdbcType="VARCHAR" property="headAdminTel" />
    <result column="office_state" jdbcType="VARCHAR" property="officeState" />
    <result column="threelicense_one" jdbcType="VARCHAR" property="threelicenseOne" />
    <result column="license" jdbcType="VARCHAR" property="license" />
    <result column="tax_registration" jdbcType="VARCHAR" property="taxRegistration" />
    <result column="organization_code" jdbcType="VARCHAR" property="organizationCode" />
    <result column="sta_certificate" jdbcType="VARCHAR" property="staCertificate" />
    <result column="account_open_license" jdbcType="VARCHAR" property="accountOpenLicense" />
    <result column="institution_credit_code" jdbcType="VARCHAR" property="institutionCreditCode" />
    <result column="seal_status" jdbcType="VARCHAR" property="sealStatus" />
    <result column="personal_has" jdbcType="VARCHAR" property="personalHas" />
    <result column="personal_seal" jdbcType="VARCHAR" property="personalSeal" />
    <result column="personal_seal_status" jdbcType="VARCHAR" property="personalSealStatus" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="operation_time" jdbcType="TIMESTAMP" property="operationTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bname, bcodeZN, province, city, bclassify, pj_id, address, rent_area, project_stat, 
    branch_name, subordinate_area, license_category, principal, principal_tel, admin_people, 
    admin_people_tel, area_admin, area_admin_tel, head_admin, head_admin_tel, office_state, 
    threelicense_one, license, tax_registration, organization_code, sta_certificate, 
    account_open_license, institution_credit_code, seal_status, personal_has, personal_seal, 
    personal_seal_status, comment, operation_time, is_delete
  </sql>
  <select id="selectByExample" parameterType="com.oa.fourth.model.OaBranchAihExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oa_branch_aih
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.oa.fourth.model.OaBranchAihExample">
    delete from oa_branch_aih
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oa.fourth.model.OaBranchAih">
    insert into oa_branch_aih (bname, bcodeZN, province, 
      city, bclassify, pj_id, 
      address, rent_area, project_stat, 
      branch_name, subordinate_area, license_category, 
      principal, principal_tel, admin_people, 
      admin_people_tel, area_admin, area_admin_tel, 
      head_admin, head_admin_tel, office_state, 
      threelicense_one, license, tax_registration, 
      organization_code, sta_certificate, account_open_license, 
      institution_credit_code, seal_status, personal_has, 
      personal_seal, personal_seal_status, comment, 
      operation_time, is_delete)
    values (#{bname,jdbcType=VARCHAR}, #{bcodezn,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{bclassify,jdbcType=VARCHAR}, #{pjId,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{rentArea,jdbcType=REAL}, #{projectStat,jdbcType=VARCHAR}, 
      #{branchName,jdbcType=VARCHAR}, #{subordinateArea,jdbcType=VARCHAR}, #{licenseCategory,jdbcType=VARCHAR}, 
      #{principal,jdbcType=VARCHAR}, #{principalTel,jdbcType=VARCHAR}, #{adminPeople,jdbcType=VARCHAR}, 
      #{adminPeopleTel,jdbcType=VARCHAR}, #{areaAdmin,jdbcType=VARCHAR}, #{areaAdminTel,jdbcType=VARCHAR}, 
      #{headAdmin,jdbcType=VARCHAR}, #{headAdminTel,jdbcType=VARCHAR}, #{officeState,jdbcType=VARCHAR}, 
      #{threelicenseOne,jdbcType=VARCHAR}, #{license,jdbcType=VARCHAR}, #{taxRegistration,jdbcType=VARCHAR}, 
      #{organizationCode,jdbcType=VARCHAR}, #{staCertificate,jdbcType=VARCHAR}, #{accountOpenLicense,jdbcType=VARCHAR}, 
      #{institutionCreditCode,jdbcType=VARCHAR}, #{sealStatus,jdbcType=VARCHAR}, #{personalHas,jdbcType=VARCHAR}, 
      #{personalSeal,jdbcType=VARCHAR}, #{personalSealStatus,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{operationTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.oa.fourth.model.OaBranchAih">
    insert into oa_branch_aih
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bname != null">
        bname,
      </if>
      <if test="bcodezn != null">
        bcodeZN,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="bclassify != null">
        bclassify,
      </if>
      <if test="pjId != null">
        pj_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="rentArea != null">
        rent_area,
      </if>
      <if test="projectStat != null">
        project_stat,
      </if>
      <if test="branchName != null">
        branch_name,
      </if>
      <if test="subordinateArea != null">
        subordinate_area,
      </if>
      <if test="licenseCategory != null">
        license_category,
      </if>
      <if test="principal != null">
        principal,
      </if>
      <if test="principalTel != null">
        principal_tel,
      </if>
      <if test="adminPeople != null">
        admin_people,
      </if>
      <if test="adminPeopleTel != null">
        admin_people_tel,
      </if>
      <if test="areaAdmin != null">
        area_admin,
      </if>
      <if test="areaAdminTel != null">
        area_admin_tel,
      </if>
      <if test="headAdmin != null">
        head_admin,
      </if>
      <if test="headAdminTel != null">
        head_admin_tel,
      </if>
      <if test="officeState != null">
        office_state,
      </if>
      <if test="threelicenseOne != null">
        threelicense_one,
      </if>
      <if test="license != null">
        license,
      </if>
      <if test="taxRegistration != null">
        tax_registration,
      </if>
      <if test="organizationCode != null">
        organization_code,
      </if>
      <if test="staCertificate != null">
        sta_certificate,
      </if>
      <if test="accountOpenLicense != null">
        account_open_license,
      </if>
      <if test="institutionCreditCode != null">
        institution_credit_code,
      </if>
      <if test="sealStatus != null">
        seal_status,
      </if>
      <if test="personalHas != null">
        personal_has,
      </if>
      <if test="personalSeal != null">
        personal_seal,
      </if>
      <if test="personalSealStatus != null">
        personal_seal_status,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="operationTime != null">
        operation_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bname != null">
        #{bname,jdbcType=VARCHAR},
      </if>
      <if test="bcodezn != null">
        #{bcodezn,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="bclassify != null">
        #{bclassify,jdbcType=VARCHAR},
      </if>
      <if test="pjId != null">
        #{pjId,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="rentArea != null">
        #{rentArea,jdbcType=REAL},
      </if>
      <if test="projectStat != null">
        #{projectStat,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null">
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="subordinateArea != null">
        #{subordinateArea,jdbcType=VARCHAR},
      </if>
      <if test="licenseCategory != null">
        #{licenseCategory,jdbcType=VARCHAR},
      </if>
      <if test="principal != null">
        #{principal,jdbcType=VARCHAR},
      </if>
      <if test="principalTel != null">
        #{principalTel,jdbcType=VARCHAR},
      </if>
      <if test="adminPeople != null">
        #{adminPeople,jdbcType=VARCHAR},
      </if>
      <if test="adminPeopleTel != null">
        #{adminPeopleTel,jdbcType=VARCHAR},
      </if>
      <if test="areaAdmin != null">
        #{areaAdmin,jdbcType=VARCHAR},
      </if>
      <if test="areaAdminTel != null">
        #{areaAdminTel,jdbcType=VARCHAR},
      </if>
      <if test="headAdmin != null">
        #{headAdmin,jdbcType=VARCHAR},
      </if>
      <if test="headAdminTel != null">
        #{headAdminTel,jdbcType=VARCHAR},
      </if>
      <if test="officeState != null">
        #{officeState,jdbcType=VARCHAR},
      </if>
      <if test="threelicenseOne != null">
        #{threelicenseOne,jdbcType=VARCHAR},
      </if>
      <if test="license != null">
        #{license,jdbcType=VARCHAR},
      </if>
      <if test="taxRegistration != null">
        #{taxRegistration,jdbcType=VARCHAR},
      </if>
      <if test="organizationCode != null">
        #{organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="staCertificate != null">
        #{staCertificate,jdbcType=VARCHAR},
      </if>
      <if test="accountOpenLicense != null">
        #{accountOpenLicense,jdbcType=VARCHAR},
      </if>
      <if test="institutionCreditCode != null">
        #{institutionCreditCode,jdbcType=VARCHAR},
      </if>
      <if test="sealStatus != null">
        #{sealStatus,jdbcType=VARCHAR},
      </if>
      <if test="personalHas != null">
        #{personalHas,jdbcType=VARCHAR},
      </if>
      <if test="personalSeal != null">
        #{personalSeal,jdbcType=VARCHAR},
      </if>
      <if test="personalSealStatus != null">
        #{personalSealStatus,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="operationTime != null">
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oa.fourth.model.OaBranchAihExample" resultType="java.lang.Long">
    select count(*) from oa_branch_aih
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update oa_branch_aih
    <set>
      <if test="record.bname != null">
        bname = #{record.bname,jdbcType=VARCHAR},
      </if>
      <if test="record.bcodezn != null">
        bcodeZN = #{record.bcodezn,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.bclassify != null">
        bclassify = #{record.bclassify,jdbcType=VARCHAR},
      </if>
      <if test="record.pjId != null">
        pj_id = #{record.pjId,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.rentArea != null">
        rent_area = #{record.rentArea,jdbcType=REAL},
      </if>
      <if test="record.projectStat != null">
        project_stat = #{record.projectStat,jdbcType=VARCHAR},
      </if>
      <if test="record.branchName != null">
        branch_name = #{record.branchName,jdbcType=VARCHAR},
      </if>
      <if test="record.subordinateArea != null">
        subordinate_area = #{record.subordinateArea,jdbcType=VARCHAR},
      </if>
      <if test="record.licenseCategory != null">
        license_category = #{record.licenseCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.principal != null">
        principal = #{record.principal,jdbcType=VARCHAR},
      </if>
      <if test="record.principalTel != null">
        principal_tel = #{record.principalTel,jdbcType=VARCHAR},
      </if>
      <if test="record.adminPeople != null">
        admin_people = #{record.adminPeople,jdbcType=VARCHAR},
      </if>
      <if test="record.adminPeopleTel != null">
        admin_people_tel = #{record.adminPeopleTel,jdbcType=VARCHAR},
      </if>
      <if test="record.areaAdmin != null">
        area_admin = #{record.areaAdmin,jdbcType=VARCHAR},
      </if>
      <if test="record.areaAdminTel != null">
        area_admin_tel = #{record.areaAdminTel,jdbcType=VARCHAR},
      </if>
      <if test="record.headAdmin != null">
        head_admin = #{record.headAdmin,jdbcType=VARCHAR},
      </if>
      <if test="record.headAdminTel != null">
        head_admin_tel = #{record.headAdminTel,jdbcType=VARCHAR},
      </if>
      <if test="record.officeState != null">
        office_state = #{record.officeState,jdbcType=VARCHAR},
      </if>
      <if test="record.threelicenseOne != null">
        threelicense_one = #{record.threelicenseOne,jdbcType=VARCHAR},
      </if>
      <if test="record.license != null">
        license = #{record.license,jdbcType=VARCHAR},
      </if>
      <if test="record.taxRegistration != null">
        tax_registration = #{record.taxRegistration,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationCode != null">
        organization_code = #{record.organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="record.staCertificate != null">
        sta_certificate = #{record.staCertificate,jdbcType=VARCHAR},
      </if>
      <if test="record.accountOpenLicense != null">
        account_open_license = #{record.accountOpenLicense,jdbcType=VARCHAR},
      </if>
      <if test="record.institutionCreditCode != null">
        institution_credit_code = #{record.institutionCreditCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sealStatus != null">
        seal_status = #{record.sealStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.personalHas != null">
        personal_has = #{record.personalHas,jdbcType=VARCHAR},
      </if>
      <if test="record.personalSeal != null">
        personal_seal = #{record.personalSeal,jdbcType=VARCHAR},
      </if>
      <if test="record.personalSealStatus != null">
        personal_seal_status = #{record.personalSealStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.operationTime != null">
        operation_time = #{record.operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update oa_branch_aih
    set bname = #{record.bname,jdbcType=VARCHAR},
      bcodeZN = #{record.bcodezn,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      bclassify = #{record.bclassify,jdbcType=VARCHAR},
      pj_id = #{record.pjId,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      rent_area = #{record.rentArea,jdbcType=REAL},
      project_stat = #{record.projectStat,jdbcType=VARCHAR},
      branch_name = #{record.branchName,jdbcType=VARCHAR},
      subordinate_area = #{record.subordinateArea,jdbcType=VARCHAR},
      license_category = #{record.licenseCategory,jdbcType=VARCHAR},
      principal = #{record.principal,jdbcType=VARCHAR},
      principal_tel = #{record.principalTel,jdbcType=VARCHAR},
      admin_people = #{record.adminPeople,jdbcType=VARCHAR},
      admin_people_tel = #{record.adminPeopleTel,jdbcType=VARCHAR},
      area_admin = #{record.areaAdmin,jdbcType=VARCHAR},
      area_admin_tel = #{record.areaAdminTel,jdbcType=VARCHAR},
      head_admin = #{record.headAdmin,jdbcType=VARCHAR},
      head_admin_tel = #{record.headAdminTel,jdbcType=VARCHAR},
      office_state = #{record.officeState,jdbcType=VARCHAR},
      threelicense_one = #{record.threelicenseOne,jdbcType=VARCHAR},
      license = #{record.license,jdbcType=VARCHAR},
      tax_registration = #{record.taxRegistration,jdbcType=VARCHAR},
      organization_code = #{record.organizationCode,jdbcType=VARCHAR},
      sta_certificate = #{record.staCertificate,jdbcType=VARCHAR},
      account_open_license = #{record.accountOpenLicense,jdbcType=VARCHAR},
      institution_credit_code = #{record.institutionCreditCode,jdbcType=VARCHAR},
      seal_status = #{record.sealStatus,jdbcType=VARCHAR},
      personal_has = #{record.personalHas,jdbcType=VARCHAR},
      personal_seal = #{record.personalSeal,jdbcType=VARCHAR},
      personal_seal_status = #{record.personalSealStatus,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=VARCHAR},
      operation_time = #{record.operationTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>