<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
    default-lazy-init="true">

    <description>Shiro安全配置</description>
    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />
    <!--cookie管理 -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg name="name" value="bid" />
        <property name="httpOnly" value="true" />
        <property name="maxAge" value="-1" />
        <!-- <property name="domain" value="abc.com" /> -->
    </bean>
    <!-- 会话管理器 -->
    <bean id="sessionManager"
        class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <!-- sessionId放在cookie中 -->
        <property name="sessionValidationSchedulerEnabled"
            value="true" />
        <!--自定义的session名称 -->
        <property name="sessionIdCookie" ref="sessionIdCookie" />
        <!--globalSessionTimeout是会话存活时间(默认是30分钟) -->
        <property name="globalSessionTimeout" value="3600000" />
    </bean>

    <!-- 权限管管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="diyRealm" />
        <property name="cacheManager" ref="cacheManager" />
        <!-- shiro的会话管理 -->
        <property name="sessionManager" ref="sessionManager" />
    </bean>

    <!-- Shiro过滤器，这里没有自定义的过滤器配置 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/rest/login" />
        <property name="filterChainDefinitions">
            <value>
                <!-- anon -->
                /rest/login=anon
                /rest/login/**=anon
                /rest/logout=logout

                <!-- 登录就可以修改登录密码 -->
                /rest/sys/grupdatepasswdUI=authc

                /rest/sys/mbgl=roles[admin]

                /rest/**=authc
            </value>
        </property>
    </bean>


    <!-- AOP式方法级权限检查 -->
    <bean
        class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
        depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true" />
    </bean>
    <bean
        class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager" />
    </bean>
</beans>